div.modal {
  background: black;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  -webkit-border-radius: 10px;
  color: white;
  display: none;
  height: 200px;
  left: 30%;
  opacity: 0.8;
  padding: 10px 20px 0 20px;
  position: absolute;
  width: 400px;
  z-index: 10;
}
div.modal a {
  color: yellow;
  position: absolute;
  right: 15px;
  top: 10px;
}
span.hk_2 {
  text-align: left;
}
span.hotkey {
  color: yellow;
  float: left;
  font-size: 120%;
  paddding-right: 5px;
  text-align: right;
  width: 20%;
}
